<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">연혁</h2>
                    <h3 class="section-subheading text-muted">About</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2013.12.05</h4>
                                    <h4 class="subheading">SCH 사이버보안연구센터 설립</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">최근 지능화된 사이버 위협 및 사이버전 대응 능력 확보 및 국내외 유관기관과의 사이버 보안 협력 강화</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2014.12.03</h4>
                                    <h4 class="subheading">SCH 사이버보안연구센터 컨퍼러스 <br>개최</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">사이버전과 APT의 악성코드를 분석하고 연구하는 <br>SCH사이버보안연구센터의 주요 악성코드 정보를 <br>공유하는 컨퍼러스 개최</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2017.12.29</h4>
                                    <h4 class="subheading">더블체인과 블록체인 협약체결</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">블록체인보안 전문인력 양성을 위한 더블체인과의 협약</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2021~</h4>
                                    <h4 class="subheading">SCH사이버보안연구센터의 방향성</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">SCH 사이버보안연구센터는 글로벌 수준의 사이버전 대응 능력을 확보하기위해 악성코드분석, 조기탐지, 사전 예측, 활동 추적 등 효과적 대응으로 구성되는 사이버 공격 대응 프레임워크에 대한 연구 및 실무 능력을 확보할예정.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>