<main class="content" role="main">

    <article class="post">

        <intro class="post-header">
            <h1 class="post-title">{{ page.title }}</h1>
            <content class="post-meta">
            <!-- <a href='{{ site.baseurl }}{{ page.about }}'>{{ site.author }}</a> -->
            {% for author in page.author %}
                <a>{{ author }}</a>
            {% endfor %}
            <time class="post-date" datetime="{{ page.date | date:'%Y-%m-%d' }}">{{ page.date | date_to_string }}</time>
                <!-- [[tags prefix=" on "]] -->
                {% if page.categories.size > 0 %}
                on
                {% for category in page.categories %}
                    {% if forloop.index == page.tags.size %}
                       <a href='{{ site.baseurl }}report/{{ category }}'>{{ page.categories }}</a>
                    {% else %}
                       <a href='{{ site.baseurl }}report/{{ category }}'>{{ page.categories }}</a>,
                    {% endif %}
                {% endfor %}
                {% endif %}
            </content>
        </intro>

        <content class="post-content">

            {{ content }}

        </content>

        

            <!-- Everything inside the #author tags pulls data from the author -->
            <!-- #author-->
        {% for author in page.author %}
            {% for people in site.people %}
                {% if people.name == author %}
                    <footer class="post-footer">
                        <figure class="author-image">
                            <img class="img" style="background-image: url('{{ site.baseurl }}{{ people.img }}');"></a>
                        </figure>
                        <content class="author">
                            <h4><a>{{ people.name }}</a></h4>
                            <p>{{ people.position }}</p>
                        </content>
                        <!-- /author  -->
                        <ul class="list-inline social-buttons">
                            {% for network in people.social %}
                                <li>
                                    <a href="{{ network.url }}">
                                        <i class="fa fa-{{ network.title }}"></i>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </footer>
                {% endif %}
            {% endfor %}
        {% endfor %}

        

    </article>

</main>

<aside class="read-next">

    <!-- [[! next_post ]] -->{{ post.url | remove: '/' }}
    {% if page.next %}
        <a class="read-next-story" {% if page.next.thumbnail %} style="background-image: url('{{ site.baseurl }}{{ page.next.thumbnail }}');" {% else %} style="background-image: no-cover;" {% endif %} href="{{ site.baseurl }}{{ page.next.url }}">
            <content class="post">
                <h2>{{ page.next.title }}</h2>
            </content>
        </a>
    {% endif %}
    <!-- [[! /next_post ]] -->
    <!-- [[! prev_post ]] -->
    {% if page.previous %}
        <a class="read-next-story prev"  {% if page.previous.thumbnail %} style="background-image: url('{{ site.baseurl }}{{ page.previous.thumbnail }}');" {% else %} style="background-image: no-cover;" {% endif %} href="{{ site.baseurl }}{{ page.previous.url }}">
            <content class="post">
                <h2>{{ page.previous.title }}</h2>
            </content>
        </a>
    {% endif %}
    <!-- [[! /prev_post ]] -->
</aside>