<!-- <div class="extra-pagination inner">
    {% if page.class == 'home-template' %}
        {% include post_pagination.html %}
    {% elsif page.class == 'page-template' %}
        {% include post_pagination.html %}
    {% elsif page.class == 'author-template' %}
        {% include author_pagination.html %}
    {% elsif page.class == 'tag-template' %}
        {% include tag_pagination.html %}
    {% else %}
        {% include post_pagination.html %}
    {% endif %}
</div> -->

<!-- This is the post loop - each post will be output using this markup -->

{% for post in paginator.posts %}
    <article class="post">
        <intro class="post-header">
            <h2 class="post-title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a><a id="categories">{{ post.categories }}</a></h2>
            
        </intro>
        
        <content class="post-excerpt">
            <p>{{ post.content | strip_html | truncatewords: 26 }} <a class="read-more" href="{{ site.baseurl }}{{ post.url }}">&raquo;</a></p>
        </content>
        <footer class="post-meta">
            <!-- {% for people in site.people %}
                {% if people.name == post.author %}
                <img class="author-thumb" src="{{ site.baseurl }}{{ people.img }}" alt="Author image" nopin="nopin" /> -->
                <!-- author -->
                <!-- <p>{{ post.author }}</p>
                {% endif %}
            {% endfor %} -->
            {% for author in post.author %}
                <a>{{ author }}</a>
            {% endfor %}

            <!-- [[tags prefix=" on "]] -->
            {% if post.tags.size > 0 %}
                on
                {% for tag in post.tags %}
                    {% if forloop.index == post.tags.size %}
                    <a href='{{ site.baseurl }}tag/{{ tag }}'>{{ tag | capitalize }}</a>
                    {% else %}
                    <a href='{{ site.baseurl }}tag/{{ tag }}'>{{ tag | capitalize }}</a>,
                    {% endif %}
                {% endfor %}
            {% endif %}
            <time class="post-date" datetime="{{ post.date | date:'%Y-%m-%d' }}">{{ post.date | date_to_string }}</time>
        </footer>
    </article>
{% endfor %}

<!-- Previous/next page links - displayed on every page -->
    {% include post_pagination.html %}